/samples/Assignment2/
/Assignment2 Queries/
/Assignment2 Queries.zip
/samples/Assignment1PG/
/backups/
/dbs/
/samples/Assignment3/
/Assignment3 Complex query/
/dockerfile/assignment3/
/Assignment3 Complex query.zip
/samples/ass3/
